*{
    margin: 0 px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    width:90%;
    margin: 0 auto;
    text-align:center;
}
/* section 1*/
.section1{
    color:rgba(150, 150, 150, 0.37);
}
.section1 svg {
    margin-top: 10px;
    margin-bottom: 5px;
}
.section1 h2 strong{
    color:black;
}
.section1 p{
    color:hsl(0, 0%, 7%);
    font-size:0.9rem;
}
.error{
    color:hsl(354, 100%, 66%);
    font-size: 0.8rem;
}
/* section2 */
.section2{
    padding: 10px;
}
.section2 input{
    border: 2px solid hsl(223, 100%, 88%);
    padding:5px 50px 5px 10px ;
    border-radius: 35px 35px 35px 35px;
   }
   .section2 input:hover{
    border: 2px solid hsl(354, 100%, 66%);
   }
/* section3 */
.section3{
    padding: 10px;
}
.section3 input{
    padding:5px 80px 5px 80px ;
    border-radius: 35px 35px 35px 35px;
    background-color: hsl(223, 87%, 63%);
color: white;
cursor: pointer;
border-color: hsl(223, 100%, 88%)
}
/* input:invalid{
    border-color: #900;
    background-color:whitesmoke;
  }
/* section4 */
.section4{
    margin-bottom: 35px;
}
.section4 img{
 padding: 5px 10px 5px 10px;
 margin:5px 10px 10px 10px;
 width: 250px;
 height:150px;
}
/*section5 */
.section5{
    margin-bottom: 15px;
}
.section5 button{
    border-radius: 50%;
    padding: 5px;
    border-color:darkslategrey;
cursor: pointer;
}
.section5 button img{
    width: 20px;
    height:20px;
}
@media (min-width:700px){
    .container{
        width:80%;
        font-size: 1.2rem;
    }
    .section2 {
        float:left;
        margin-left: 135px;
    }
    .section2 input{
        padding:10px 85px 10px 20px ;       
    }
    .section3{
        float:left;
    }
    .section3 input{
        padding:10px 40px 10px 15px ;   
 }
 .section4 img{
     width:450px;
     height:300px;
     margin-top:30px ;
     margin-bottom :20px ;
    }
    .section5 button img{
        width: 35px;
        height:35px;
    }
}
@media (min-width:1200px){
    .container{
        width:80%;
        font-size: 1.3rem;
        max-width: 1440px;
    }
    .section2{
        padding: 0px;
    }
    .section3{
        padding: 0px;
        margin-left: 8px;
    }
    .section1 svg{
        margin-top: 5px;
        margin-bottom: 0px;
    }  
    .section2 {
            float:left;
            margin-left:350px ;
}
.section3{
    float:left;
}
.section2 input{
    padding:10px 40px 10px 20px ;       
}
.section3 input{
    padding:15px 20px 15px 10px ;   
}
.section4 img{
    width: 550px;
    height:280px;
   }
   .section4{
    margin-top:0px ;
    margin-bottom :0px ;
    
   }
   .section5 button img{
    width: 30px;
    height:30px;
   }
}
